.bg-blue{
    background: #0F0326 !important;
}

.bg-yellow{
    background: #fafa64 !important;
}

.bg-green{
    background: #B5D99C !important;
}

.bg-red{
    background: #E65F5C !important;
}

.icon-menu i{
    font-size: 1.5rem;
    cursor: pointer;
}

.icon-menu{
    cursor: pointer;
}

.fixed{
    position: fixed !important; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 2;
}